@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --gold-500: #FFD700;
  --gold-400: #FFC700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-gold-500 {
  background-color: var(--gold-500);
}

.bg-gold-400 {
  background-color: var(--gold-400);
}

.text-gold-400 {
  color: var(--gold-400);
}

.text-gold-500 {
  color: var(--gold-500);
}

.hover\:bg-gold-400:hover {
  background-color: var(--gold-400);
}
